/* Estilos para la página Inicio y Default*/
.menu-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container img {
    max-height: 400px;
    display: block;
    border-radius: 50%;
    margin-top: 140;
    margin-left: 180;
}

.menu-container .banner {
    margin: 0;
    background-color: #002663;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.menu-container .banner h2 {
    text-align: center;
    color: white;
    animation: slideTextInicio 20s linear infinite;
}

.menu-container .banner img {
    position: absolute;
    top: 1;
    right: 45;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* Estilos para la página Ventas*/
.bannerVenta {
    margin: 0;
    background-color: #002663;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.bannerVenta h2 {
    text-align: center;
    color: white;
    animation: slideTextInicio 20s linear infinite;
}

.bannerVenta img {
    position: absolute;
    top: 3;
    right: 40;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu-containerVentas {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu-containerVentas .inputSearch {
    margin-left: 100px;
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.menu-containerVentas .inputSearch label {
   margin-right: 8px;
}

.menu-containerVentas .inputSearch .styled-textbox {
    width: 150px;
    margin-right: 40px;
    padding: 8px;
}


.menu-containerVentas .tableVentas {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: -100px;
}

table {
    border: 1;
    width: 900px;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 50px;
}

th {
    height: 50px;
    background-color: #f2f2f2;
}

/* Estilos para la página Productos*/
.bannerMenus {
    margin: 0;
    background-color: #002663;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.bannerMenus h2 {
    text-align: center;
    color: white;
    animation: slideTextInicio 20s linear infinite;
}

.bannerMenus img {
    position: absolute;
    top: 3;
    right: 40;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.menu-containerMenus .inputs {
    margin-left: 110px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-containerMenus .inputs label {
    display: block;
    margin-right: 5px;
    margin-bottom: 13px;
}

.menu-containerMenus .inputs .styled-textbox {
    width: 150px;
    margin-right: 40px;
}

.menu-containerMenus .inputs .styled-textbox,
.menu-containerMenus .inputs .styled-dropdown {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
}

.menu-containerMenus {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu-containerMenus .tableMenus {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: -100px;
}

table {
    border: 1;
    width: 950px;
    margin-top: 10px;
    text-align: center;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 50px;
}

th {
    height: 50px;
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin-left: 185px;
    margin-top: 10px;
}

.button-container .styled-button {
    width: 150px;
    margin-left: 0px;
}

/* Estilos para la página Usuarios*/
.menu-containerUser {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu-containerUser .tableUser {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: -100px;
}

.menu-containerUser .inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 80px;
}


.menu-containerUser .inputs label {
    display: block;
    margin-right: 5px;
    margin-bottom: 13px;
}

.menu-containerUser .inputs .styled-textbox {
    width: 150px;
    margin-right: 40px;
}

.menu-containerUser .inputs .styled-textbox,
.menu-containerUser .inputs .styled-dropdown {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
}




/* Animación */
@keyframes slideTextInicio {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}