/*  -- Estilos para la página Inicio y Default --*/
.banner {
    margin: 0;
    background-color: #002663;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.banner h2 {
    text-align: center;
    color: white;
    animation: slideTextInicio 18s linear infinite;
}

.imgInicio img {
    max-height: 450px;
    /* Ajusta la altura máxima de la imagen */
    display: block;
    /* Elimina cualquier espacio adicional debajo de la imagen */
    border-radius: 50%;
    margin-top: 140;
    margin-left: 40%;
}

/* -- Estilos para la página de Orden -- */
.banner .imgOrden img {
    position: absolute;
    top: -10;
    right: 45;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.cmbMesa {
    margin-left: 570px;
    margin-top: 155px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cmbMesa .styled-dropdown {
    width: 100px;
    margin-left: 10px;
}


.menu-containerOrden {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu-containerOrden .lstComida {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.menu-containerOrden .lstComida .styled-listbox {
    margin-top: 15px;
    width: 550px;
    height: 300px;
    margin-right: 50px;
    
}

.menu-containerOrden .labels {
    margin-left: 620px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-containerOrden .labels .styled-textbox {
    width: 100px;    
    margin-left: 10px;
}

.styled-button {
    width: 145px;
    height: 30px;
    margin-top: 30px;
    margin-left: 500px;
}

/* Estilos para la página Menu*/
.bannerMenus {
    margin: 0;
    background-color: #002663;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
}

.bannerMenus h2 {
    text-align: center;
    color: white;
    animation: slideTextInicio 20s linear infinite;
}

.bannerMenus img {
    position: absolute;
    top: 3;
    right: 40;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.inputs {
    margin-left:110px; 
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputs label {
    display: block; 
    margin-right: 5px; 
    margin-bottom: 13px;
}

.inputs .styled-textbox{
    width: 150px;
    margin-right: 40px; 
}

.inputs .styled-textbox,
.inputs .styled-dropdown {
    width: 200px; 
    padding: 8px; 
    margin-bottom: 10px; 
}

.menu-containerMenus{
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.menu-containerMenus .tableMenus {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: -100px;
}

table {
    border: 1;
    width: 950px;
    margin-top: 10px;
    text-align: center;
    border-collapse: collapse;
}

tr,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 50px;
}

th {
    height: 50px;
    background-color: #f2f2f2;
    /* Establece el color de fondo de las celdas de encabezado */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    max-width: 1000px; /* Limita el ancho total del contenedor */
    margin-left: 185px; /* Centra el contenedor horizontalmente */
    margin-top: 10px;
}

.button-container .styled-button{
    width: 150px;
    margin-left: 0px; 
}

/* Animación */
@keyframes slideTextInicio {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}