/* Paleta de colores */
:root {
    --banner-color: #0C7ECF;
    --white: #FFF;
    --primary: #00B9F2;
    --secondary: #019CE0;
    --gray: #abaaaa;
    --gray2: #323232;
    --red: #c32121;
}

/* =/=/=/=/=/=/=/= DISEÑO DEFAULT =/=/=/=/=/=/=/= */
.default-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    background: var(--gray2);
    box-shadow: 7px 13px 37px #000;
}

.default-container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: white;
}

.default-container img{
    margin: 20vh;
    max-height: 600px;
    border-radius: 50%;   
}


/* - - - - Login  - - - - */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    height: 100vh;
}

.formulario-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    background: var(--gray2);
    box-shadow: 7px 13px 37px #000;
}

.formulario-login h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: white;
}

.formulario-login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .usuario {
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.usuario input {
    bottom: 3px;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

#content_lblUsuario,
#content_lblPassword {
    position: absolute;
    top: -10px;
    left: 15px;
    color: var(--gray);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.btnIngresar input[type="submit"] {
    width: 50%;
    display: flex;
    height: 50px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    justify-content: center;
    margin: 30px auto;
}

.btnIngresar [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

#content_imgLogo {
    margin: 20px 0 10px 0;
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}


/* - - - - ADMIN - - - -  */
/* DISEÑO MASTERPAGE */
/* MAIN.ADMIN */
#sidebar {
    width: 200px;
    min-height: 100%;
    background: var(--gray);
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

#sidebar ul {
    padding: 15px;
    margin: 0;
    list-style-type: none;
}

#sidebar li a {
    display: block;
    width: auto;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
}

#sidebar ul li {
    padding: 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%
}

#sidebar ul li:hover {
    background-color: #00B9F2;
    transition: .5s;
}

#sidebar ul li a.active {
    background-color: #0C7ECF;
}

#sidebar ul li:last-child {
    position: absolute;
    bottom: 10px;
    width: 85%;
    box-sizing: border-box;
}

#sidebar ul li:last-child:hover {
    background-color: var(--red);
    transition: .5s;
}

/* MAIN.ADMIN BANNER */
#logo .lnkHome img {
    position: absolute;
    top: 10px;
    right: 45px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

/* DISEÑO INICIO */
/* Solo es un simple logo en el centro :D */
.menu-container img {
    position: absolute;
    max-height: 400px;
    display: block;
    border-radius: 50%;
    margin: 20vh 90vh;
}

/* DISEÑO VENTAS */
.ventas .bannerVenta h2{
    margin-top: 30px;
    margin-left: 120px;
    text-align: center;
    color: black;
}

.ventas .contenido-ventas .search{
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.calendarios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendarios input[type="date"]{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.calendarios input[type="date"]:hover,
.calendarios input[type="date"]:focus {
    border-color: #333;
}

.fechaDel,
.fechaAl {
    margin-right: 20px;
}

.tableVentas {
    margin-top: 30px;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tableVentas table {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableVentas th, .tableVentas td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tableVentas th {
    background-color: #f2f2f2;
}

.tableVentas tr:hover {
    background-color: #f5f5f5;
}

/* -- --  Diseño Usuarios -- -- */
.usuarios .bannerMenus h2{
    margin-top: 30px;
    margin-left: 120px;
    text-align: center;
    color: black;
}

.tableUser {
    margin-left: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tableUser .searchUser {
    margin: 30px 0 30px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableUser .searchUser input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
}

.tableUser .searchUser input[type="submit"] {
    width: 10%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

.tableUser .searchUser [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.tableUser .searchUser label,
.tableUser .searchUser input,
.tableUser .searchUser button {
    margin-right: 10px; /* Ajusta el valor según tu preferencia para el espacio entre elementos */
    flex-direction: row;
}

.tableUser .searchUser .styled-textbox{
    width: 20%;
}

.tableUser table {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableUser th, .tableUser td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tableUser th {
    background-color: #f2f2f2;
}

.tableUser tr:hover {
    background-color: #f5f5f5;
}

/* DIALOG USUARIOS */

.links{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: 30px;
}

.addMenu{
    margin-left: 20px;
}

.enlacesUsuarios{    
    text-decoration: none;
    color: #0C7ECF;
    margin-right: 150px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}


.modalDialog .inputs{
    display: grid;
    align-content: center;
}


.modalDialog .inputs label{
    text-align: left;
}

.modalDialog .inputs .styled-textbox{
    display: block;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #0C7ECF;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: var(--white);
    transition: opacity 400ms ease-in;
    color: var(--gray2);
    border-radius: 5%;
}

.modalDialog input[type="submit"]{
    width: 100%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0; 
}

.modalDialog [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.modalDialog .styled-dropdown{
    display: block;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #0C7ECF;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: var(--red); }

/* DISEÑO PRODUCTOS */
.productos .bannerMenus h2{
    margin-top: 40px;
    margin-left: 120px;
    text-align: center;
    color: black;
}

.tableMenus {
    margin-left: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tableMenus .searchProd {
    margin: 30px 0 15px 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableMenus .searchProd .ddlFiltrado{
    margin-right: 15px;
    display: block;
    align-items: center;
    padding: 5px;
    width: 8.5%;
    border-radius: 5px;
    border: 1px solid #0C7ECF;
}

.tableMenus .searchProd input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
}

.tableMenus .searchProd input[type="submit"] {
    width: 10%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

.tableMenus .searchProd [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.tableMenus .searchProd label,
.tableMenus .searchProd input,
.tableMenus .searchProd button {
    margin-right: 10px; /* Ajusta el valor según tu preferencia para el espacio entre elementos */
    flex-direction: row;
}

.tableMenus .inputs {
    margin: 0px 10px 30px 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableMenus .inputs input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
    margin-right: 30px;
}


.tableMenus .searchProd .styled-textbox{
    width: 20%;
}

.tableMenus .inputs .styled-textbox{
    width: 18%;
}

.tableMenus .inputs label{
    margin-right: 10px;
}

.tableMenus .inputs .styled-dropdown{
    display: block;
    align-items: center;
    padding: 5px;
    width: 8.5%;
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    margin-right: 15px;
}

.buttons{
    margin: 0px 10px 30px 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons .styled-button {
    width: 15%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin-right: 20px;
}

.buttons .styled-button:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.tableMenus table {
    height: 100px;
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableMenus table td input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
    width: 100%;
}

.tableMenus table td input:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.tableMenus th, .tableMenus td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.tableMenus th {
    background-color: #f2f2f2;
}

.tableMenus tr:hover {
    background-color: #f5f5f5;
}

/* =/=/=/=/=/=/=/ DISEÑO MESERO =/=/=/=/=/=/=/=/ */
/* ESTILOS MENU */
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
}

.button-container input[type="submit"] {
    width: 10%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

.button-container [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.Menu .bannerMenus h2{
    margin-top: 30px;
    margin-left: 120px;
    text-align: center;
    color: black;
}

.Menu .selectores{
    display: flex;
    flex-direction: row;
    margin: 50px 0px 30px 340px;
}

.Menu .selectores label {
    margin: 5px 15px;
}

.Menu .selectores .styled-dropdown{
    display: inline;
    align-items: center;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #0C7ECF;
    margin-right: 100px;
}

.div-menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-menus .lstMenu{
    margin-left: 100px;
    width: 25%;
    border-color: #0C7ECF;
    height: 300px;
    border-radius: 5px;
}
/* ESTILOS ORDEN */
.btnPedido{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnPedido input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
}

.btnPedido input[type="submit"] {
    width: 10%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

.btnPedido [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.Orden .banner h2{
    margin-top: 30px;
    margin-left: 120px;
    text-align: center;
    color: black;
}

.Orden .selectores{
    display: flex;
    flex-direction: row;
    margin: 50px 0px 30px 340px;
}

.Orden .selectores label {
    margin: 5px 15px;
}

.Orden .selectores .styled-dropdown{
    display: inline;
    align-items: center;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #0C7ECF;
    margin-right: 100px;
}

.div-orden{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-orden .lstOrden{
    margin-left: 100px;
    width: 60%;
    border-color: #0C7ECF;
    height: 300px;
    border-radius: 5px;
}

.labels {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 960px;
}

.labels label{    
    margin-right: 10px;
}

.labels .lblPrecio{
    border-radius: 5px;
    border-color: #0C7ECF;
}

/* - - - - - - - USUARIOS - - - - - - - */

.tableUser .searchProd {
    margin: 30px 0 15px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableUser .searchProd input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
}

.tableUser .searchProd input[type="submit"] {
    width: 10%;
    height: 35px;
    border: 1px solid;
    background: #0C7ECF;
    border-radius: 25px;
    color: #FFF;
    cursor: pointer;
    outline: none;
    margin: 30px 0;
}

.tableUser .searchProd [type="submit"]:hover {
    background-color: #00B9F2;
    transition: .5s;
}

.tableUser .searchProd .ddlFiltrado{
    margin-right: 15px;
    display: block;
    align-items: center;
    padding: 5px;
    width: 8.5%;
    border-radius: 5px;
    border: 1px solid #0C7ECF;
}

.tableUser .searchProd label,
.tableUser .searchProd input,
.tableUser .searchProd button {
    margin-right: 10px; /* Ajusta el valor según tu preferencia para el espacio entre elementos */
    flex-direction: row;
}

.tableUser .inputs {
    margin: 0px 10px 30px 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableUser .inputs input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
    margin-right: 30px;
}

.tableUser table td input{
    border-radius: 5px;
    border: 1px solid #0C7ECF;
    padding: 5px;
    width: 100%;
}

.tableUser table td input:hover {
    background-color: #00B9F2;
    transition: .5s;
}


.tableUser .searchProd .styled-textbox{
    width: 20%;
}

.tableUser .inputs .styled-textbox{
    width: 18%;
}

.tableUser .inputs label{
    margin-right: 10px;
}

.tableUser .inputs .styled-dropdown{
    display: block;
    align-items: center;
    padding: 5px;
    width: 15%;
    border-radius: 5px;
    border: 1px solid #0C7ECF;
}

